.contact-block {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1rem 1rem 1rem;
    grid-gap: 1rem;
    align-items: center;
}

.contact-block .contact--image {
    grid-area: 1 / 1 / span 3 / span 1;
}

.contact-block .contact--name {
    grid-area: 1 / 2;
    font-weight: bold;
}

.contact-block .contact--company {
    grid-area: 2 / 2;
    font-style: italic;
}

.contact-block .contact--email {
    grid-area: 3 / 2;
}